.form-header {
  display: flex;
  border: 5px solid orange;
  border-radius: 10px;
  position: absolute;
  background-color: aliceblue;
  top: 34%;
  left: 30%;
  justify-content: space-around;
  width: 800px;
  align-items: center;
}
