@import "./abstract/variables"; // Màu sắc
@import "./abstract/mixin";
@import "./abstract/funtion";
@import "./base/animation"; //animation
@import "./base/typography"; //font chữ, setting body
@import "./base/utilities";
@import "./base/base"; //
@import "./Layout/header";
* {
  margin: auto;
  padding: 2px;
  font-family: "IBM Plex Serif", serif;
}
