.hidden {
  display: none;
}
.modal {
  background-color: aliceblue;
  position: absolute;
  border: 1px solid black;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 70%;
  font-size: 25px;
  padding: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  z-index: 10;
}
