* {
  margin: 10px;
  padding: 0px;
  box-sizing: border-box;
}

.bg-grey {
  background: #f7f7f7;
}

#banner {
  background-image: url(../images/banner.jpg);

  position: relative;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 759px;
}
section > .container {
  width: 1170px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row: auto;
  grid-gap: 20px;
  position: relative;
  align-items: center;
  padding: 30px 50px;
}

#nav-bar {
  text-align: center;
}

.Hoten {
  text-align: center;
  position: absolute;
  left: 40%;
  bottom: 50%;
}
.Hoten h1 {
  color: #f7f7f7;
  font-size: 48px;
}
.Hoten span {
  color: #f7f7f7;
  font-size: 23px;
}
.icon {
  width: 30px;
  height: 30px;
  color: #4dabf7;
}
.name {
  font-size: 30px;
}
.avatar {
  border: 10px solid white;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  position: absolute;
  left: 40%;
  bottom: 90%;
}
.thongtin {
  display: flex;
  align-items: center;
  width: 350px;
  justify-content: space-around;
  font-size: 20px;
}
.chungchi {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 350px;
  font-size: 20px;
}
.nav {
  width: 1170px;
  margin: auto;
  display: block;
  display: flex;
  flex-grow: 1;
}
.hinhanh {
  display: flex;
  flex-grow: 1;
}
a {
  text-transform: uppercase;
}
.container-target {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 1170px;
}
#target {
  background-color: #e9ecef;
}
#personal-info {
  background-color: #dee2e6;
}
#personal-info .icon {
  width: 20px;
  height: 20px;
}
ul {
  list-style-type: none;
}
.section-title {
  font-size: 30px;
}
.container-skill {
  border: 1px solid #ced4da;
  width: 300px;
  height: 400px;
}
.container-skill .icon {
  width: 40px;
  height: 40px;
  color: #ced4da;
}
.container-skill table .icon {
  width: 40px;
  height: 40px;
  color: #4dabf7;
}
.container--skill {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-top: 20px;
}
.container---skill {
  grid-column: 1/3;
}
.content-text {
  grid-column: 1/3;
  text-align: justify;
}
.content-table {
  grid-column: 1/3;
  text-align: justify;
}
.content-table .icon {
  border: 1px solid #4dabf7;
  border-radius: 50%;
  padding: 3px;
}
.content-text li::before {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #4dabf7;
  position: absolute;
  border-radius: 50%;
  left: -20px;
  top: 5px;
}
li {
  position: relative;
}

.container---skill span {
  width: 45px;
  height: 2px;
  display: inline-block;
  margin-right: 10px;
}
.span-skill-one {
  background: #74c0fc;
}
.span-skill-two {
  background: #ced4da;
}
.container-footer {
  display: flex;
  width: 1170px;
  align-items: center;
  margin-left: 300px;
}
#certificate .container-image {
  display: grid;
  grid-column: 1/3;
  grid-template-columns: repeat(2, 1fr);
  width: 1170px;
}
#certificate .container-image img {
  width: 250px;
  height: 150px;
  float: left;
}
.container-image-one {
  border-bottom: 2px solid #d6c08d;
  position: relative;
}
.container-image-one::after {
  content: " ";
  background-color: #d6c08d;
  width: 2px;
  height: 170px;
  position: absolute;
  left: 51%;
}
.container-project {
  display: grid;
  grid-column: 1/4;
  grid-template-columns: repeat(3, 1fr);
  width: 1170px;
}
.container--project img {
  width: 400px;
  height: 300px;
  margin-bottom: 0px;
}

.container---project {
  display: flex;
}
.container---project .icon {
  width: 20px;
  height: 20px;
}
.container---project p:first-child {
  border: 2px solid #4dabf7;
  border-radius: 50%;

  background-color: #4dabf7;
  width: 60px;
  color: #f7f7f7;
  text-align: center;
}
.project-table td:first-child {
  width: 100px;
}
.project-table td:last-child {
  text-align: justify;
  padding: 5px;
}
.container-footer .icon {
  width: 40px;
  height: 40px;
}
.container-footer a {
  float: right;
  text-align: center;
  text-transform: none;
  color: #ced4da;
  font-size: 20px;
}
