* {
  margin: 10px;
  padding: 0px;
  box-sizing: border-box;
}

.bg-grey {
  background: #f7f7f7;
}

#banner {
  background-image: url(../images/banner.jpg);

  position: relative;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 759px;
}
section > .container {
  width: 1170px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row: auto;
  grid-gap: 20px;
  position: relative;
  align-items: center;
  padding: 30px 50px;
}

#nav-bar {
  text-align: center;
}

.Hoten {
  text-align: center;
  position: absolute;
  left: 40%;
  bottom: 50%;
}
.Hoten h1 {
  color: #f7f7f7;
  font-size: 48px;
}
.Hoten span {
  color: #f7f7f7;
  font-size: 23px;
}
.icon {
  width: 30px;
  height: 30px;
  color: blue;
}
.name {
  font-size: 30px;
}
.avatar {
  border: 10px solid white;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  position: absolute;
  left: 40%;
  bottom: 90%;
}
.thongtin {
  display: flex;
  align-items: center;
  width: 350px;
  justify-content: space-around;
  font-size: 20px;
}
.chungchi {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 350px;
  font-size: 20px;
}
.nav {
  width: 1170px;
  margin: auto;
  display: block;
  display: flex;
  flex-grow: 1;
}
.hinhanh {
  display: flex;
  flex-grow: 1;
}
a {
  text-transform: uppercase;
}
#target {
  grid-column: 1/4;
  padding-bottom: 100px;
  background-color: #e9ecef;
}
#personal-info {
  grid-column: 4/7;
  padding-left: 130px;
  background-color: #dee2e6;
}
ul {
  list-style-type: none;
}
.section-title {
  font-size: 30px;
}
.container-skill {
  border: 1px solid gray;
  width: 300px;
}
.container--skill {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-top: 20px;
}
.content-text {
  grid-column: 1/3;
  text-align: justify;
}
.content-table {
  grid-column: 1/3;
  text-align: justify;
}
.content-text li::before {
  content: "";
  width: 10px;
  height: 10px;
  background-color: blue;
  position: absolute;
  border-radius: 50%;
  left: -20px;
  top: 5px;
}
li {
  position: relative;
}
