* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.bg-grey {
  background: #f7f7f7;
}

#banner {
  position: relative;
  background-size: auto;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 759px;
}
section > .container {
  width: 1170px;
  margin: auto;
  display: block;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 30px 50px;
}

#nav-bar {
  text-align: center;
}

.Hoten {
  text-align: center;
  position: absolute;
  left: 40%;
  bottom: 50%;
}
.Hoten h1 {
  color: #f7f7f7;
  font-size: 48px;
}
.Hoten span {
  color: #f7f7f7;
  font-size: 23px;
}
