@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    background-image: url("https://img5.thuthuatphanmem.vn/uploads/2021/07/09/anh-background-bien-de-thuong_025522761.jpg");
    background-size: cover;
    height: 100vh;
    margin: 0;
    font-family: "Roboto", sans-serif !important;
    font-weight: 900;
    font-style: normal;
}

.content_info {
    color: red;
    font-size: 3vw; /* Đơn vị phù hợp với mọi thiết bị */
    font-weight: bolder;
}

.content_title {
    color: red;
    font-size: 5vw; /* Đơn vị phù hợp với mọi thiết bị */
    font-weight: bolder;
}

.content_logo img {
    max-width: 20vw; /* Đơn vị phù hợp với mọi thiết bị */
}

#prizeName,
#result {
    font-size: 5vw; /* Đơn vị phù hợp với mọi thiết bị */
    margin: 2vw 0; /* Đơn vị phù hợp với mọi thiết bị */
    color: red; /* Màu chữ trắng */
    text-shadow: 0 0 2vw yellow; /* Viền màu trắng */
}

.nut_bam {
    position: absolute;
    bottom: 5vw; /* Đơn vị phù hợp với mọi thiết bị */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vw; /* Đơn vị phù hợp với mọi thiết bị */
}

.nut_bam button {
    padding: 0;
    width: 10vw; /* Đơn vị phù hợp với mọi thiết bị */
    height: 10vw; /* Đơn vị phù hợp với mọi thiết bị */
    border: none;
    border-radius: 50% !important;
    background-color: #4caf50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s, font-size 0.3s;
    box-shadow: 0 1vw 1.5vw rgba(0, 0, 0, 0.1); /* Đơn vị phù hợp với mọi thiết bị */
    font-size: 4vw !important; /* Đơn vị phù hợp với mọi thiết bị */
    display: flex;
    justify-content: center;
    align-items: center;
}

button:hover {
    background-color: red;
    box-shadow: 0 1.5vw 2vw rgba(0, 0, 0, 0.3); /* Đơn vị phù hợp với mọi thiết bị */
    font-size: 1.2vw; /* Đơn vị phù hợp với mọi thiết bị */
}

/*chuc mung*/
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    justify-content: center;
    align-items: center;
}

.congratulations {
    color: white;
    font-size: 1.2vw; /* Đơn vị phù hợp với mọi thiết bị */
    text-align: center;
    margin-bottom: 1vw; /* Đơn vị phù hợp với mọi thiết bị */
}

.fireworks img {
    width: 100vw; /* Đơn vị phù hợp với mọi thiết bị */
    height: auto;
}

/* trung giải */
.modal-fullscreen {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
}

.modal-content-fullscreen {
    height: 100%;
    border-radius: 0;
}

.modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: black;
}

.modal-body img {
    width: 100%;
    height: 100%;
}

#congratsMessage {
    color: red;
    position: absolute;
    font-size: 5vw; /* Đơn vị phù hợp với mọi thiết bị */
    font-weight: 700;
}

#toggleMusicButton {
    position: fixed;
    bottom: 1vw; /* Đơn vị phù hợp với mọi thiết bị */
    right: 1vw; /* Đơn vị phù hợp với mọi thiết bị */
    z-index: 1000;
}
